//colors
$mainColor: #000;
//responsive breakpoints
$breakpoint-largedesktop: 1200px;
$breakpoint-desktops: 992px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  @media (max-width: $breakpoint-tablet) {
    overflow-x: hidden;
  }
}
section {
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  @media (max-width: $breakpoint-desktops) {
    height: 150px;
  }
  @media (max-width: $breakpoint-phone) {
    height: 100px;
  }
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 2rem;

  @media (max-width: $breakpoint-tablet) {
    position: absolute;
    right: 0%;
    top: 5vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  @media (max-width: $breakpoint-phone) {
    width: 70%;
  }
}
.nav-active {
  transform: translateX(0%);
}

.nav-links li {
  list-style: none;

  @media (max-width: $breakpoint-tablet) {
    opacity: 0;
  }
}
.nav-links a {
  color: $mainColor;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "Montserrat";

  @media (max-width: $breakpoint-desktops) {
    font-size: 0.8rem;
  }
  @media (max-width: $breakpoint-tablet) {
  }
}
.burger {
  display: none;
  margin: 4vh 4vh 0 0;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    cursor: pointer;
  }
}
.burger div {
  width: 30px;
  height: 1px;
  margin: 7px;
  background-color: $mainColor;
  transition: all 0.3s ease;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.home-container {
  display: flex;
  justify-content: center;

  @media (max-width: $breakpoint-desktops) {
    margin-top: 50px;
  }
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
  }
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-title {
  font-family: "Montserrat";
  font-size: 1.6rem;
  @media (max-width: $breakpoint-desktops) {
    font-size: 1.3rem;
  }
}
.text-description {
  font-family: "Montserrat";
  padding: 15px;
  margin: 0 0 0 15px;
  @media (max-width: $breakpoint-desktops) {
    font-size: 0.8rem;
  }
}
.home-photo-container {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0) 50%,
      rgb(255, 255, 255) 90%
    ),
    url(./images/mainphoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;

  @media (max-width: $breakpoint-desktops) {
    width: 300px;
    height: 300px;
  }
}
#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-container {
  height: 100vh;
  display: flex;
  justify-content: center !important;
}
.glider-contain {
  width: 90vh;
  padding: 20px;
  @media (max-width: $breakpoint-tablet) {
    width: 60vh;
  }

  @media (max-width: $breakpoint-phone) {
    width: 35vh;
  }
}
.card {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
}
.card-title {
  font-family: "Montserrat";
  font-size: 1.3rem;
}
.card-description {
  font-family: "Montserrat";
  font-size: 0.8rem;
  margin: 20px 0 20px 0;
}
.card-link {
  font-family: "Montserrat";
  font-size: 0.8rem;
  margin-top: 10px;
}
.card-photo {
  width: 170px;
  height: 170px;
  background-image: url(./images/project.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}
.glider-prev {
  margin-top: 25px;
  margin-left: -100px;
  @media (max-width: $breakpoint-tablet) {
    margin-left: -30px;
  }

  @media (max-width: $breakpoint-phone) {
    margin-left: -15px;
  }
}
.glider-next {
  margin-top: 25px;
  margin-right: -100px;
  @media (max-width: $breakpoint-tablet) {
    margin-right: -30px;
  }

  @media (max-width: $breakpoint-phone) {
    margin-right: -15px;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
}
#message-content {
  height: 200px;
}
::placeholder {
  font-family: "Montserrat";
  color: #000;
}
textarea {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
  resize: none;
}
input[type="submit"] {
  width: 100px;
  color: #000;
  font-family: "Montserrat";
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
}
.footer img {
  height: 80px;
  cursor: pointer;
}
