* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  nav img {
    height: 150px;
  }
}

@media (max-width: 576px) {
  nav img {
    height: 100px;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0%;
    top: 5vh;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

@media (max-width: 576px) {
  .nav-links {
    width: 70%;
    position: fixed;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.nav-links li {
  list-style: none;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .nav-links li {
    opacity: 0;
  }
}

.nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-family: "Montserrat";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 992px) {
  .nav-links a {
    font-size: 0.8rem;
  }
}

.burger {
  display: none;
  margin: 4vh 4vh 0 0;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .burger {
    display: block;
    cursor: pointer;
  }
}

.burger div {
  width: 30px;
  height: 1px;
  margin: 7px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .home-container {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .home-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-title {
  font-family: "Montserrat";
  font-size: 1.6rem;
}

@media (max-width: 992px) {
  .text-title {
    font-size: 1.3rem;
  }
}

.text-description {
  font-family: "Montserrat";
  padding: 15px;
  margin: 0 0 0 15px;
}

@media (max-width: 992px) {
  .text-description {
    font-size: 0.8rem;
  }
}

.home-photo-container {
  width: 400px;
  height: 400px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, rgba(255, 0, 0, 0)), color-stop(90%, white)), url(./images/mainphoto.jpg);
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 50%, white 90%), url(./images/mainphoto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .home-photo-container {
    width: 300px;
    height: 300px;
  }
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.glider-contain {
  width: 870px !important;
}

@media (max-width: 992px) {
  .glider-contain {
    width: 580px !important;
  }
}

@media (max-width: 768px) {
  .glider-contain {
    width: 290px !important;
  }
}

.card-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glider-slide {
  max-width: 250px !important;
  min-width: 250px !important;
}

.card {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
}

.card-title {
  font-family: "Montserrat";
  font-size: 1.3rem;
}

.card-description {
  font-family: "Montserrat";
  font-size: 0.8rem;
  margin: 20px 0 20px 0;
}

.card-link {
  font-family: "Montserrat";
  font-size: 0.8rem;
  margin-top: 10px;
}

.card-photo {
  width: 150px;
  height: 150px;
  background-image: url(./images/project.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .card-photo {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 576px) {
  .card-photo {
    width: 100px;
    height: 100px;
  }
}

.glider-prev {
  top: 35%;
  margin-left: -80px;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .glider-prev {
    margin-left: -50px;
  }
}

@media (max-width: 576px) {
  .glider-prev {
    margin-left: -30px;
  }
}

.glider-next {
  top: 35%;
  margin-right: -80px;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .glider-next {
    margin-right: -50px;
  }
}

@media (max-width: 576px) {
  .glider-next {
    margin-right: -30px;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="text"] {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 350px;
  }
}

@media (max-width: 576px) {
  input[type="text"] {
    width: 250px;
  }
}

#message-content {
  height: 200px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat";
  color: #000;
}

:-ms-input-placeholder {
  font-family: "Montserrat";
  color: #000;
}

::-ms-input-placeholder {
  font-family: "Montserrat";
  color: #000;
}

::placeholder {
  font-family: "Montserrat";
  color: #000;
}

textarea {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  outline: none;
  resize: none;
}

@media (max-width: 768px) {
  textarea {
    width: 350px;
  }
}

@media (max-width: 576px) {
  textarea {
    width: 250px;
  }
}

input[type="submit"] {
  width: 100px;
  color: #000;
  font-family: "Montserrat";
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.footer {
  position: absolute;
  bottom: -200%;
  right: 0;
}

.footer img {
  height: 80px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
  .footer img {
    height: 50px;
  }
}

@media (max-width: 576px) {
  .footer img {
    height: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */